<section class=" column body">
    <div class="glassbox row ">
        <div style=" display: flex; justify-content: flex-start; width: 50%;">
            <img src="/assets/logo.svg" alt="">
        </div>


        <div style=" display: flex; justify-content: flex-end; width: 50%; gap :25px; height: 100%;">

            <div class="column">

                <div style="display: flex;  align-self: flex-start; ">
                    redes
                </div>

                <div style="display: flex; flex-direction: row;gap :25px; align-self: flex-end;  margin-top: auto; margin-right: 5%;">
                    <a href="/"  class="txt title">Inicio</a>
                    <a href="/eventos" class="txt title"> Eventos</a>
                   
                </div>
            </div>


        </div>

    </div>


    <router-outlet></router-outlet>


</section>